p {
    font-size: 5px;
    line-height: 5px;
}

#resultado {
    display: grid;
    grid-template-columns: 
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px
    10px;
}